.content-wrap {
  height: 100vw;
  margin-top: 0;
  justify-content: center;

  .github-sign-in-button {
    height: 56px;
    width: 300px;
    background: var(--black);
    color: var(--white);
    border-radius: 15px;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;

    .icon {
      margin-right: 10px;
    }
  }
}
