@use 'sass:meta';

.content-wrap {
  margin-top: 81px;
  background-image: none;

  .calendar {
    display: flex;
    flex-direction: column;
    --calendar-width: 972px;
    width: var(--calendar-width);
    height: calc(var(--calendar-width) * 0.7);
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 34px 22px;
    background-color: white;

    @include meta.load-css('./calendar-header');
    @include meta.load-css('./calendar-table');
  }
}
