@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.content-wrap {
  position: relative;

  .analytics-options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    border-radius: 10px;
    overflow: hidden;

    .ao-btn {
      color: var(--black);
      flex: 1;
      padding: 13px;
      background-color: var(--light-blue);
      font-size: 20px;
      transition: background-color 200ms ease, color 200ms ease;

      &.checked {
        background-color: var(--black);
        color: var(--white);
        font-weight: 600;
      }
    }
  }

  .analytics-container {
    position: relative;
    width: 100%;
  }

  section.by-categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease, opacity 400ms ease;

    &.hidden {
      // transform: translateX(-100vw);
      // opacity: 0;
      display: none;
    }
  }

  section.daily {
    width: 100%;
    transition: transform 400ms ease, opacity 400ms ease;

    &.hidden {
      // transform: translateX(100vw);
      // opacity: 0;
      display: none;
    }
  }

  .pie-chart {
    margin-bottom: 50px;
    pointer-events: none;
  }

  .bar-chart {
    width: 100%;
    line-height: 24px;
    margin-top: 3px;
    font-size: 18px;

    .item-row {
      display: flex;
      background-color: var(--light-blue);
      padding: 15px;
      border-radius: 10px;
      margin-bottom: 15px;

      .name {
        width: 100%;
        max-width: 4.5em;
        text-align: right;
        font-weight: 500;
        color: var(--black);
      }

      .percent {
        width: 100%;
        max-width: 4.5em;
        text-align: right;
        margin-left: 10px;
        font-weight: 600;
        font-size: 0.9em;
        color: var(--gray);
      }

      .bar-wrap {
        width: 100%;
        margin-left: 0.7em;
        border-radius: 5px;
        overflow: hidden;

        @keyframes slide {
          0% {
            transform: translateX(-100%);
          }

          100% {
            transform: translateX(0%);
          }
        }

        .bar {
          transform: translateX(calc(-100% - 1px));
          height: 100%;
          border-radius: 5px;
          animation: slide 500ms ease forwards;
        }
      }

      .amount {
        display: flex;
        justify-content: flex-end;
        max-width: 7em;
        width: 100%;
        color: var(--red);
        font-weight: 600;
      }
    }

    $color-variants: #ff5959, #f98f54, #f0c350, #7bca3d, #56db9b, #2bcfda,
      #5580ef, #9979f3, #d879f0, #ff5fa2;

    @for $i from 1 through length($color-variants) {
      .item-row:nth-child(#{$i}) .bar {
        background: nth($color-variants, $i);
        animation-delay: $i * 100ms;
      }
    }
  }
}
