@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.analytics-view {
  padding-bottom: 120px;
  width: 100%;
  width: calc(100% - #{$content-padding * 2});
  max-width: $content-width;
  margin-top: 81px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .bar-chart {
    width: 100%;
    line-height: 24px;
    margin-top: 3px;
    font-size: 18px;

    .item-row {
      display: flex;
      width: 100%;
      background-color: var(--light-blue);
      padding: 15px;
      border-radius: 10px;
      margin-bottom: 15px;

      .name {
        width: 100%;
        max-width: 4.5em;
        text-align: right;
        font-weight: 500;
        color: var(--black);
      }

      .percent {
        width: 100%;
        max-width: 4.5em;
        text-align: right;
        margin-left: 10px;
        font-weight: 600;
        font-size: 0.9em;
        color: var(--gray);
      }

      .bar-wrap {
        width: 100%;
        padding: 2px 0;
        margin-left: 0.7em;

        .bar {
          height: 100%;
          border-radius: 5px;
        }
      }

      .amount {
        display: flex;
        justify-content: flex-end;
        max-width: 7em;
        width: 100%;
        color: var(--red);
        font-weight: 600;
      }
    }

    @for $category-count from 1 to 10 {
      .item-row:nth-child(#{$category-count}) .bar {
        background: lighten($red, $category-count * 5);
      }
    }

    @include dark-mode {
      $red: #f75f54;

      @for $category-count from 1 to 10 {
        .item-row:nth-child(#{$category-count}) .bar {
          background: lighten($red, $category-count * 5);
        }
      }
    }
  }
}
