@use './cards';
@use './reset';
@use './fonts';

:root {
  --black: #333333;
  --blue: #166ff3;
  --red: #f8123b;
  --gray: #979797;
  --light-blue: #f5f5f7;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 90%;
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 75%;
  }
}

@media only screen and (min-width: 1400px) {
  html {
    font-size: 100%;
  }
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.body-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 120px;
  align-items: center;
  font-family: 'PAYW Pro', 'PAYW Pro KR', sans-serif;
  color: #333;
  scroll-behavior: smooth;
  background-image: linear-gradient(to bottom, #fff, #fff, var(--light-blue));
  background-attachment: fixed;
}
