@use './cards';
@use './reset';
@use './fonts';
@use './mixins' as *;

:root {
  --black: #333333;
  --white: #fff;
  --white-rgb: 255, 255, 255;
  --blue: #166ff3;
  --red: #f8123b;
  --gray: #979797;
  --light-blue: #f5f5f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #f0f0f0;
    --white: #000;
    --white-rgb: 0, 0, 0;
    --light-blue: #333;
    --blue: #54aafc;
    --red: #ee4337;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 90%;
  background-color: var(--white);
}

body {
  font-family: 'PAYW Pro', 'PAYW Pro KR', sans-serif;
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 75%;
  }
}

@media only screen and (min-width: 1400px) {
  html {
    font-size: 100%;
  }
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
}

.body-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  padding-bottom: 120px;
  align-items: center;
  font-family: 'PAYW Pro', 'PAYW Pro KR', sans-serif;
  color: #333;
  scroll-behavior: smooth;
  background-image: linear-gradient(
    to bottom,
    var(--white),
    var(--white),
    var(--light-blue)
  );
  background-attachment: fixed;
}
