@import './reset.scss';

:root {
  --black: #333333;
  --blue: #166ff3;
  --red: #f8123b;
  --gray: #979797;
  --light-blue: #f5f5f7;
}

.content-wrap > * {
  margin-left: 1rem;
}

li {
  list-style: none;
  display: inline-block;
  padding: 0.8rem;
}

nav li {
  background-color: #e7a61a;
  margin-left: 1rem;
  box-shadow: 10px 7px 7px -10px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.content-wrap li {
  display: block;
}

.button-inset {
  box-shadow: inset 3px 3px 12px #7e5b10;
}
